<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginsuite.appLaunch()[pri:0, instance:a_gradle.testNG.loginsuite@735b5592]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:30</td>   <td>13409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginsuite.verifyValidLogin()[pri:0, instance:a_gradle.testNG.loginsuite@735b5592]">verifyValidLogin</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:40</td>   <td>23475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginsuite.appClose()[pri:0, instance:a_gradle.testNG.loginsuite@735b5592]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:40</td>   <td>23879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginsuite.appLaunch()[pri:0, instance:a_gradle.testNG.loginsuite@735b5592]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:50</td>   <td>33271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginsuite.verifyInvalidLogin()[pri:1, instance:a_gradle.testNG.loginsuite@735b5592]">verifyInvalidLogin</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/12/13 19:45:56</td>   <td>40161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginsuite.appClose()[pri:0, instance:a_gradle.testNG.loginsuite@735b5592]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:45:57</td>   <td>40981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.appLaunch()[pri:0, instance:a_gradle.testNG.flightfindersuite@cc285f4]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:46:07</td>   <td>50509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDefaultSelectionFlightType()[pri:0, instance:a_gradle.testNG.flightfindersuite@cc285f4]">verifyDefaultSelectionFlightType</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:46:17</td>   <td>60699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.closeApp()[pri:0, instance:a_gradle.testNG.flightfindersuite@cc285f4]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:46:19</td>   <td>62771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.appLaunch()[pri:0, instance:a_gradle.testNG.flightfindersuite@cc285f4]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:46:28</td>   <td>72170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDepartingFromValueSelection()[pri:1, instance:a_gradle.testNG.flightfindersuite@cc285f4]">verifyDepartingFromValueSelection</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/12/13 19:46:45</td>   <td>88547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.closeApp()[pri:0, instance:a_gradle.testNG.flightfindersuite@cc285f4]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
</table>
